<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>GAE Web Pub Sub</display-name>

    <servlet>
        <servlet-name>connectServlet</servlet-name>
        <servlet-class>org.gaewebpubsub.web.ConnectServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>connectServlet</servlet-name>
        <url-pattern>/connect/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sendMessageServlet</servlet-name>
        <servlet-class>org.gaewebpubsub.web.SendMessageServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>sendMessageServlet</servlet-name>
        <url-pattern>/send/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>disconnectServlet</servlet-name>
        <servlet-class>org.gaewebpubsub.web.DisconnectServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>disconnectServlet</servlet-name>
        <url-pattern>/disconnect/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>subscribersServlet</servlet-name>
        <servlet-class>org.gaewebpubsub.web.SubscribersServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>subscribersServlet</servlet-name>
        <url-pattern>/subscribers/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>validationFilter</filter-name>
        <filter-class>org.gaewebpubsub.web.ValidationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>validationFilter</filter-name>
        <servlet-name>connectServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validationFilter</filter-name>
        <servlet-name>sendMessageServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validationFilter</filter-name>
        <servlet-name>disconnectServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>validationFilter</filter-name>
        <servlet-name>subscribersServlet</servlet-name>
    </filter-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>adminPages</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>